@keyframes side-form-hide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(100% + (#{$standard-spacing} * 2)));
    }
}

@keyframes side-form-show{
    from{
        transform: translateX(calc(100% + (#{$standard-spacing} * 2)));
    }
    to{
        transform: translateX(0);
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes account-modal-show {
    from{
        transform: translateY(100% + #{$standard-spacing});
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes account-modal-hide {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(100% + #{$standard-spacing});
    }
}