.cookie-banner{
    @include flex ($justify-content: space-between);

    background-color: $secondary-color;
    color: $primary-color;
    padding: $standard-spacing;
    position: fixed;
    bottom: $standard-spacing;
    width: calc(100% - (#{$standard-spacing} * 2));
    z-index: 999;
    left: $standard-spacing;
    border-radius: $border-radius;
    display: none;

    p{
        margin: 0 $standard-spacing;
    }

    a{
        color: $primary-color;

        &:hover{
            text-decoration: none;
        }
    }

    i:last-child{
        cursor: pointer;
    }
}