.home-features{
    margin: 0 $standard-spacing;

    .home-feature-container{
        padding: $standard-spacing;
        border-radius: $border-radius;
        margin: $standard-spacing 0;
        background-color: $secondary-color;
        color: $primary-color;

        @include flex (
            $justify-content: space-around
        );

        img{
            max-width: 90%;
            height: 30vh;
        }

        div{
            width: 30%;

            h1,
            p{
                margin: 0;
            }
        }

        &:nth-child(2n){
            flex-direction: row-reverse;
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}