<footer>
    <div class="copyright">
        <span>Copyright</span>
        <span><i class="far fa-copyright"></i></span>
        <span>2019</span>
        <span>Alex Sandri</span>
    </div>
    <div class="links">
        <a href="pricing"><i class="fas fa-tag"></i><span></span><span data-translation="generic->pricing"></span></a>
        <a href="contact"><i class="fas fa-envelope"></i><span></span><span data-translation="generic->contact_us"></span></a>
        <a href="cookies"><i class="fas fa-cookie"></i><span></span><span data-translation="generic->cookies"></span></a>
        <a href="privacy"><i class="fas fa-user-shield"></i><span></span><span data-translation="generic->privacy"></span></a>
        <a href="terms"><i class="fas fa-balance-scale"></i><span></span><span data-translation="generic->terms"></span></a>
    </div>
</footer>