<div class="cookie-banner">
    <i class="fas fa-exclamation-circle"></i>
    <p data-translation="cookie_banner->text"> <a href="cookies" data-translation="cookie_banner->learn_more"></a></p>
    <i class="fas fa-times"></i>
</div>

<header>
    <div class="logo">
        <a href="/">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-envelope-open"></i>
            <i class="fas fa-chevron-right"></i>
            <span>Denvelope</span>
        </a>
    </div>
    <nav class="logged-in">
        <div class="menu">
            <div class="user">
                <div class="img-container">
                    <img src="" data-update-field="photo" aria-hidden="true">
                    <img src="" data-update-field="provider-logo" aria-hidden="true">
                </div>
                <p data-update-field="name"></p>
                <p data-update-field="email"></p>
            </div>
            <a href="account" data-page="account" data-translation="generic->account"><i class="fas fa-user"></i></a>
            <hr>
            <a href="account/settings" data-page="settings" data-translation="generic->settings"><i class="fas fa-cog"></i></a>
            <hr>
            <button data-page="logout" class="logout" data-translation="generic->log_out"><i class="fas fa-sign-out-alt"></i></button>
        </div>
    </nav>
    <div class="menu-toggle logged-in"><button><i class="fas fa-user-circle"></i></button></div>
</header>