<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-storage.js"></script>

<script>
    const firebaseConfig = {
        apiKey: "AIzaSyB1DDI5sBAF0A-kDl--zlZO1f7RAlVu0T8",
        authDomain: "denvelope-firebase.firebaseapp.com",
        databaseURL: "https://denvelope-firebase.firebaseio.com",
        projectId: "denvelope-firebase",
        storageBucket: "denvelope-firebase.appspot.com",
        messagingSenderId: "1023448327269",
        appId: "1:1023448327269:web:f47cec8c609d1fed13128c"
    };

    firebase.initializeApp(firebaseConfig);
</script>