.footer{
    padding: 1%;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    width: calc(100% - 2%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
}

.footer a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: var(--font-weight-light);
}

.footer a:hover{
    text-decoration: underline;
}

.footer div:last-child:not(:first-child){
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

@media only all and (max-width: 1200px){
    .footer{
        flex-direction: column;
        width: calc(100% - 40px);
        padding: 20px;
        background-color: var(--body-color);
    }

    .footer div:last-child:not(:first-child){
        width: 100%;
        margin-top: 5%;
    }
}

@media only all and (max-width: 550px){
    .footer div:last-child:not(:first-child){
        flex-wrap: wrap;
    }

    .footer form{
        width: 100%;
    }
}

.footer p{
    margin: 0;
    display: inline-block;
    font-weight: var(--font-weight-light);
}

footer i::after{ /*adds a space after every icon on the footer*/
    content: "  ";
    white-space: pre;
}

@media only all and (max-width: 600px){
    .footer a{
        font-size: 12px;
    }
}

@media only all and (max-width: 380px){
    .footer a{
        width: calc(50% - 2vw);
        margin: 1vw;
    }

    .footer a:nth-child(2n){
        text-align: right;
    }

    .footer a:nth-child(2n) i{
        float: right;
    }

    .footer a:nth-child(2n) i::after{
        content: "";
    }

    .footer a:nth-child(2n) span::after{
        content: " ";
        white-space: pre;
    }
}

@media only all and (max-width: 330px){
    .footer div:first-child{
        font-size: 12px;
    }

    .footer{
        width: calc(100% - 20px);
        padding: 10px;
    }
}

.footer-language-toggle{
    font-size: 16px !important;
    padding: 0 !important;
    border: 0 !important;
    transition: 0ms !important;
}

@media only all and (max-width: 1200px){
    .footer-language-toggle{
        background-color: var(--body-color) !important;
    }
}

@media only all and (max-width: 550px){
    .footer-language-toggle{
        width: 100%;
        margin-top: 1rem;
    }
}

@media only all and (max-width: 420px){
    .footer-language-toggle{
        font-size: 12px !important;
    }
}

@media only all and (max-width: 310px){


    .footer-language-toggle{
        width: unset !important;
        margin: 1rem auto 0 auto !important;
    }
}